.layout-header{
    width: 200px;
    margin-left: 614px;
    align-items:center;
    justify-content:space-between;
    line-height:25.6px;
    display:inline-flex;
    flex-wrap:wrap;
    font-family:Inter;
    font-weight:600;
    padding:10px 0px;
  }

.ant-layout-header .ant-menu{
    
}
.ant-menu.ant-menu-dark{
  background-color: var(--primary-color);
  color: var(--accent-color);
}